.formcontainer{
    display: flex;
    border-radius: calc(0.1*100px);
    box-shadow: 0px 4px 14px 0px rgba(70,70,70,0.38);
    justify-content: space-around;
    background: #fff;
    font-size: 1rem;
}
.inputtext{
    width: 85%;
    padding-right: 5px;
    padding-left: 10px;
    border-radius: calc(0.5*100px);
    font-size: 1rem;
}
.inputtext::placeholder{
    color: #000;
}
.inputsubmit{
    background: transparent;
    color: #5b5b5b;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 600;
    margin-right: 10px;
}
.inputtext,.inputsubmit{
    height: 45px;
    outline: none;
    border: none;
    
}
.submitwarning{
    font-size: 13px;
    color: red;
    margin-top: 5px;
    display: block;
}
.inputsubmit svg{
    color: #5e5e5e;
    font-size: 20px;
    margin-top: 2px;
}