.submain{
    box-sizing: border-box;
    border-radius: calc(0.1*100px);
    box-shadow: 0px 4px 14px 0px rgba(70,70,70,0.38);
    justify-content: space-around;
    background: #fff;
    font-size: 1rem;
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}
.subtn{
    margin: auto;
    margin-bottom: 15px;
    line-height: 25px;
    font-weight: 400;
    justify-content: space-evenly;

}
